:root{
  --top-nav-height: 60px;
  --footer-height: 70px;
  --light-color: rgba(0, 0, 0, 0.1);
  --color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
}
*{
  box-sizing: border-box;
}
/*classes*/
.nav{
  width: 100%;
  height: var(--top-nav-height);
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: white;
}
.nav-item{
  all: unset;
  padding: 4px 0;
  background: linear-gradient(var(--color) 0 0) var(--d, 201%) 100% /200% 2px no-repeat;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  transition: 0.5s;
}
.nav-item:hover {
  --d: -101%;
}
@media only screen and (min-width: 600px) {
  .nav{
    justify-content: flex-end;
    background-color: transparent;
  }
}
.main{
  width: 100vw;
  height: 130vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.main-content-left{
  text-align: center;
  flex-direction: column;
}
.main-content-right{
  flex-direction: column-reverse;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .main {
    height: 80vh;
    justify-content: space-between;
  }
  .main-content-left{
    text-align: left;
    flex-direction: row;
  }
  .main-content-right{
    text-align: right;
    flex-direction: row;
  }
}
.section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-header{
  margin: 10px;
  padding: 5px;
  font-size: 4rem;
}
.section-content{
  margin: 10px;
  padding: 5px;
  font-size: 1.5rem;
  line-height: 140%;
}
.section-content-img{
  display: flex;
  justify-content: center;
}
.section-content-img > img{
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-shadow: inset 15px 15px 50px 20px var(--color);
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  .section {
    width: 40%;
  }
}
.footer{
  width: 100vw;
  height: var(--footer-height);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-item{
  all: unset;
  padding: 4px 0;
  cursor: pointer;
  color: black;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
}